.field {
    clear:both;
    text-align:right;
    margin: 10px;
}

label {
    float:left;
    padding-right:10px;
}
button{
    line-height: 2.5;
    text-align:center;
    width: 100%;
    background-color: #4CAF50;
    color: black;
}
button:hover {
    background-color: #00aacc;
    color: #ffffff;
}

button:disabled,
button[disabled]{
    background-color: #cccccc;
    color: black;
}
.main {
    margin: auto;
    width: 350px;
    border: 3px solid green;
    padding: 10px;
}